<html>
    <head>
        <title>Aam Hindustani - आम हिंदुस्तानी के बारे में</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="topbar">
            <a href="/">Home - मुँह-पन्ना</a>
            <a href="/about">About - इसके बारे में</a>
        </div>
        <div>
            <h1>About Aam Hindustani - आम हिंदुस्तानी के बारे में</h1>
            <div id = "content">
                <p>Bangla is, excluding its dialects, one singular language. This is despite the fact that it, like Hindustani, is split between two countries: a majority-Hindu West Bengal and a majority-Muslim Bangladesh.
                    So why is it then that Hindustani has effectively been split in two, into Hindi and Urdu, which both pretend to be separate languages, while a language like Bangla hasn't?
                </p>
                <p></p>
            </div>
        </div>
    </body>
</html>