<html>
    <head>
        <title>Aam Hindustani</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="topbar">
            <a href="/">Home - मुँहपन्ना</a>
            <a href="/about">About - इसके बारे में</a>
        </div>
        <div>
            <h1>Welcome to Aam Hindustani</h1>
        </div>
    </body>
</html>